{% extends 'base.html' %}

{% block title %}

    Lista de Produtos - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Pets</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Ativo</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Cliente</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                        <tr>
                            <th scope="row">{{ pet.id }}</th>
                            <td>{{ pet.name }}</td>
                            <td>
                                {% if pet.is_active == True %}
                                    Ativo
                                {% endif %}
                                {% if pet.is_active == False %}
                                    Inativo
                                {% endif %}
                            </td>
                            <td>{{ pet.gender }}</td>
                            <td>{{ pet.specie }}</td>
                            <td>
                                <img src="{{ pet.photo.url }}" width="50" height="50">
                            </td>
                            <td>
                                <a href="{% url 'pets:edit_pet' pet.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>    
                                <a href="{% url 'pets:delete_pet' pet.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                            <td>   
                                <a href="{% url 'services:add_service' pet.id%}" class="btn btn-danger btn-sm ">Adicionar Servico</a>
                           </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}