.vscode/settings.json
petapp/apps/pets/__pycache__/views.cpython-39.pyc
petapp/apps/pets/__pycache__/models.cpython-39.pyc
petapp/apps/pets/__pycache__/__init__.cpython-39.pyc
petapp/apps/pets/__pycache__/admin.cpython-39.pyc
petapp/apps/pets/__pycache__/apps.cpython-39.pyc
petapp/apps/pets/__pycache__/forms.cpython-39.pyc
petapp/apps/pets/__pycache__/urls.cpython-39.pyc
petapp/apps/employe/__pycache__/__init__.cpython-39.pyc
petapp/apps/employe/__pycache__/admin.cpython-39.pyc
petapp/apps/employe/__pycache__/apps.cpython-39.pyc
petapp/apps/clients/migrations/0001_initial.py
petapp/apps/pets/migrations/0001_initial.py
petapp/apps/species/migrations/0001_initial.py
petapp/apps/clients/__pycache__/__init__.cpython-39.pyc
petapp/apps/clients/__pycache__/admin.cpython-39.pyc
petapp/apps/clients/__pycache__/apps.cpython-39.pyc
petapp/apps/clients/__pycache__/forms.cpython-39.pyc
petapp/apps/clients/__pycache__/models.cpython-39.pyc
petapp/apps/clients/__pycache__/urls.cpython-39.pyc
petapp/apps/clients/__pycache__/views.cpython-39.pyc
petapp/apps/clients/migrations/__pycache__/0001_initial.cpython-39.pyc
petapp/apps/core/__pycache__/__init__.cpython-39.pyc
petapp/apps/core/__pycache__/admin.cpython-39.pyc
